[submodule "geomapfish_locator/qgissettingmanager"]
	path = geomapfish_locator/qgissettingmanager
	url = git@github.com:opengisch/qgissettingmanager.git
[submodule "plugin_ci"]
	path = plugin_ci
	url = git@github.com:opengisch/plugin_ci.git
